<div>
    <p><center>{{ subject.name }}</center></p>
</div>

<div>
    <p>Здоровье: <y>{{ subject.health.amount.current}}/{{ subject.health.amount.maximum - 1 }}</y></p>
    <p>Броня: <y>{{ subject.health.armor_kind.name }}</y></p>
    <p>Урон: <y>{{ potential_damage }} ({{ subject.weapon.damage_kind.name }})</y></p>
</div>
<div>
    <p>{{ mode|safe }}</p>
</div>
{% if inspection %}
<div>
    {% for key, value in inspection %}
    {% if value == True %}
    <p><y>{{ key }}</y></p>
    {% elif value == None %}
    {% elif not key %}
    <p><y>{{ value }}</y></p>
    {% else %}
    <p>{{ key }}: <y>{{ value }}</y></p>
    {% endif %}
    {% endfor %}
</div>
{% endif %}