<div>
    <p><center>\__ {{subject.name}} __/</center></p>
</div>

<div>
    <p>Health: <y>{{subject.health.amount.current}}/{{subject.health.amount.maximum - 1}}</y></p>
    <p>Armor: <y>{{subject.health.armor_kind}}</y></p>
    <p>Damage: <y>{{potential_damage}} {{subject.weapon.damage_kind}}</y></p>
</div>
<div>
    <p>{{ mode|safe }}</p>
</div>
{% if inspection %}
<div>
    {% for key, value in inspection %}
    {% if value == True %}
    <p><y>{{ key }}</y></p>
    {% elif value == None %}
    {% elif not key %}
    <p><y>{{ value }}</y></p>
    {% else %}
    <p>{{ key }}: <y>{{ value }}</y></p>
    {% endif %}
    {% endfor %}
</div>
{% endif %}