<div>
    <div>
        <p><center>\__ {{subject.name}} __/</center></p>
    </div>
</div>

<div>
    <p>Health: <y>{{subject.health.amount.current}}/{{subject.health.amount.maximum - 1}}</y></p>
    <p>Armor: <y>{{subject.health.armor_kind}}</y></p>
    <p>Damage: <y>{{subject.weapon.power}} {{subject.weapon.damage_kind}}</y></p>
</div>
<div>
    <p>{{ mode|safe }}</p>
</div>
<div>
    {% if inspects %}
    <p>Inspects <y>{{ subject.act.subject.name }}</y></p>

    {% if looks_hurt %}
    <p><y>Looks hurt</y></p>
    {% endif %}

    {% endif %}
</div>