<div>
    <div>
        <p><center>\__ {{subject.name}} __/</center></p>
    </div>
</div>

<div>
    <p>Health: <b>{{subject.health.amount.current}}/{{subject.health.amount.maximum - 1}}</b></p>
    <p>Armor: <b>{{subject.health.armor_kind}}</b></p>
    <p>Damage: <b>{{subject.weapon.power}} {{subject.weapon.damage_kind}}</b></p>
</div>
<div>
    <p>{{ mode|safe }}</p>
</div>
<div>
    {% if inspects %}
    <p>Inspects <b>{{ subject.act.subject.name }}</b></p>

    {% if looks_hurt %}
    <p><b>Looks hurt</b></p>
    {% endif %}

    {% endif %}
</div>